{% extends "base.html" %} {% block title %}Reset Your Password{% endblock %} {%
block content %}
<p>Hello {{ full_name }},</p>

<p>
  We received a request to reset your password. Click the button below to reset
  it:
</p>

<div style="text-align: center; margin: 30px 0">
  <a
    href="{{ reset_code }}"
    style="
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
    "
    >Reset Password</a
  >
</div>

<p>
  If the button above doesn't work, you can copy and paste the following link
  into your browser:
</p>
<p style="word-break: break-all">
  <a href="{{ reset_code }}">{{ reset_code }}</a>
</p>

<p>
  This link will expire in 10 minutes. If you didn't request this reset, please
  ignore this email.
</p>

<p>Best regards,<br /></p>
{% endblock %}
