{% extends "base.html" %} {% block title %}Reset Your Password{% endblock %} {%
block content %}
<p>Hello {{ full_name }},</p>

<p>
  We received a request to reset your password. Use the verification code below
  to proceed:
</p>

<div style="text-align: center; margin: 30px 0">
  <h2 style="letter-spacing: 5px; font-size: 32px">{{ reset_code }}</h2>
</div>

<p>
  This code will expire in 15 minutes. If you didn't request this reset, please
  ignore this email.
</p>

<p>Best regards,<br /></p>
{% endblock %}
